<body>
  <p id="notice"></p>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td>
          <a class="show_106091" href="/books/106091"><Show/a>
        </td>
        <td>
          <a class="edit_106091" href="/books/106091/edit"><Edit/a>
        </td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td>
          <a class="show_106092" href="/books/106092"><Show/a>
        </td>
        <td>
          <a class="edit_106092" href="/books/106092/edit"><Edit/a>
        </td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td>
          <a class="show_106093" href="/books/106093"><Show/a>
        </td>
        <td>
          <a class="edit_106093" href="/books/106093/edit"><Edit/a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

